.mat-datepicker-content {
  background-color: white !important;
  opacity: 1 !important;
}

.mat-select-panel {
  background-color: white !important;
  opacity: 1 !important;
}

.cdk-overlay-pane{
  background-color: white !important;
  opacity: 1 !important;
}
